@charset "utf-8";
body{
    font-family: 'Raleway', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
.header_content{
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgb(16, 107, 211);
    color:white;
}
.title{
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
}
.container{
    margin: 40px auto;
    width: 50%;
    background-color: rgb(16, 107, 211);
    box-sizing: border-box;
    padding: 80px 80px;
}
.username,.password{

}
.username input,.password input{
    padding: 10px;
    background: #4E5255;
    border: none;
    width: 97%;
    font-size: 18px;
    color: #FFFFFF;
}
.password{
    margin-top: 10px;
}
h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.username input:focus,.password input:focus{
    outline: none;
}

.botton{
    margin-top: 10px;
    border-radius: 6%;
    float: right;
    border: none;
    background-color: rgba(98, 205, 255, 0.933);
    color: #fff;
    padding: 8px;
}
