.container{
    margin: 200px auto;
    width: 50%;
    background-color: rgb(16, 107, 211);
    box-sizing: border-box;
    padding: 100px 80px;
}
.username,.password{
    background-color: #eee;
}
.username input,.password input{
    padding: 10px;
    background: transparent;
    border: none;
    width: 80%;
    font-size: 18px;
    color: #555;
}
.password{
    margin-top: 10px;
}
h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 5px 0;
}
.username input:focus,.password input:focus{
    outline: none;
}
.username mat-icon,.password mat-icon{
    color: #777;
    padding: 20px;
    font-size: 20px;
}
.botton{
    margin-top: 10px;
    border-radius: 6%;
    float: right;
    border: none;
    background-color: rgba(98, 205, 255, 0.933);
    color: #fff;
    padding: 8px;
}
