@charset "utf-8";
body{
    font-family: 'Raleway', sans-serif;
}
*{
    padding: 0px;
    margin: 0px;
}
.header_content{
  width: 100%;
  height: 70px;
  line-height: 70px;
  background:#6495ED;
  color:white;
}
.title{
  float: left;
  margin-left:17px;
}
.list_menu{
  float: right;
}
.list_menu li{
  display: inline-block;
  list-style-type: none;
  margin-left: 15px;
}
.list_menu li a{
  text-decoration: none;
  padding:5px 20px;
  font-family:"Roboto",sans-serif;
  font-size: 20px;
}
.list_menu li.active a{
  background: #363436;
  transition: all ease-in-out 0.45;
  border: 1px solid white;
}
.list_menu li a:hover{
  background: #363436;
  border: 1px solid white;
}

.main_content{
  position: absolute;
  width: 95%;
  height: 532px;
  left: 2.5%;
  right: 2.5%;
  float: left;
  background: #4e709d !important;
  color: white;
  border-radius: 10px;
}
.main_content h1 a{
  margin-left: 10%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 15%;
}
.example-formright{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-right: 15%;
}
.example-full-width {
  width: 80%;
}
.button-row button,
.button-row a {
  margin-left: 25%;

}

